body {
  font: 18px/22pt "Helvetica Neue", Arial, sans-serif;
  font-weight: bold;
  letter-spacing: -0.75pt;
  margin: 0;
  padding: 0;
  color: #EEE;
  background: url(angelfalls.jpg) center no-repeat fixed;
  background-size: cover;
  min-width: 900px;
}
h1 { display: block; font-size: 1em; border-bottom: 1px solid #AAA; }
a { color: #E99; text-decoration: none; }
a:visited { color: #C77; }
a:hover { color: #FFF; }
pre { font-size: 16px; }

#content {
  margin: 150px auto;
  overflow: hidden;
  width: 684px;
  padding: 0 18px;
  background-image: url(water_droplets.png), url(angelfalls_effect.jpg);
  background-position: top left, center;
  background-repeat: no-repeat;
  background-attachment: scroll, fixed;
  background-size: contain,%,  cover;
  /*border: 6px solid #222;*/
  box-shadow: 0 0 15px black;
  text-shadow: 1px 1px 5px black;
}
